@font-face {
    font-family: 'SourceHanSansHWSC-Bold';
    src: url('/typeface/SourceHanSansHWSC-Bold.otf');
}

* {
    scroll-behavior: smooth;
    font-family: 'SourceHanSansHWSC-Bold', "Microsoft YaHei", SimHei, sans-serif;
}

body {
    overflow-x: hidden;
}

#output {
    min-height: 79vh;
}

.mdui-icon {
    margin-right: 5px;
}

#output .code-copy {
    position: absolute;
    right: 16px;
}

#progress-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgb(0, 0, 0, 0.8);
}

#progress-overlay #progress {
    top: calc(50% - 33px);
    display: block;
    height: 66px;
    width: 300px;
    z-index: 99999;
}

/* 移动端适配 */
@media (max-width: 768px) {
    .msg {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mdui-card {
        width: 100%;
        /* 卡片宽度占满屏幕 */
    }

    .ai-msg,
    .user-msg {
        max-width: 100%;
        /* 消息宽度占满屏幕 */
        min-width: 100%;
        left: auto;
        /* 取消左浮动 */
        margin-right: 0;
        /* 取消右侧间距 */
    }
}

/* 非移动端适配 */
@media (min-width: 769px) {

    #output {
        min-width: 97%;
    }

    .msg {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .ai-msg {
        max-width: 50%;
        min-width: 50%;
    }

    .user-msg {
        left: 50%;
        max-width: 50%;
        min-width: 50%;
        margin-right: 20px;
    }
}

.msg {
    border-radius: 10px !important;
}

/* 在大屏幕上添加边框 */
@media screen and (min-width: 1024px) {
    #chat-list {
        border-right: 1px dashed #000;
    }
}

.hljs-ln-line.hljs-ln-code {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

#sendRequestErrorMessage {
    background-color: #F44336;
    color: #ffffff !important;
    border-radius: 10px;
    padding: 10px;
}

/* 让footer固定在页面底部 */
footer {
    position: sticky;
    bottom: 0;
    min-width: 100%;
    max-width: 100vw;
    padding-bottom: 40px;
}